* {
  margin-top: 0px;
  margin-left: 0px;
}

.main {
  width: 1360px;
  height: 1000x;
  background-color: #ffffff;
}

.image {
  width: 912px;
  height: 768;
  float: left;
}

.information { 
  width: 448px;
  height: 768px;
  background-color: #ffffff;
  float: right;
}

.information__logo { 
  width: 148.4px;
  height: 32px;
  margin-left:70px;
  margin-top:10px;
}

.information__title{
  font-family: MuseoSans;
  font-size: 22px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.18;
  letter-spacing: 0.3px;
  text-align: center;
  color: rgba(0, 0, 0, 0.87);
}

.information__button { 
  width: 336px;
  height: 40px;
  border-radius: 20px;
  border: none;
  margin-left:56px;
  margin-right:56px;
  margin-top:20px;
}

.information__divider{
  width: 400px;  
  height: 1px;
  background-color: rgba(0, 0, 0, 0.15);
  margin-left:24px;
  margin-top: 32px;
}

.information__hyperlink {
  width: 256px;
  height: 16px;
  font-family: MuseoSans;
  font-size: 14px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.14;
  letter-spacing: 0.3px;
  color: rgba(0, 0, 0, 0.54);
  margin-left: 97px;
  margin-right: 95px;
  margin-top: 208px;
}

.information__button--login{
	background-color: #1de9b6;
}

.information__button--signup{
  background-color: #8c9eff;
}

.information__button--text {
  width: 299px;
  height: 16px;
  font-family: MuseoSans;
  font-size: 14px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.14;
  letter-spacing: 0.3px;
  text-align: center;
  color: #ffffff;
  margin-left: 19px;
  margin-right: 18px;
margin-top: 12px;
  margin-bottom: 12px;
}

.information__title--signup{
  width: 245px;
  height: 26px;
  margin-left:97.5px;
  margin-right:105.5px; 
  margin-top: 31px; 
}

.information__title--login{
  width: 368px;
  height: 52px;
  margin-left:40px;
  margin-right:40px;
  margin-top:184px;
}

.image--default{
  /*background-color: #ffffff;*/
  background-image: linear-gradient(to left, #889af8, #1de9b6)

}

.image--gradient{
  background-image: linear-gradient(to left, #889af8, #1de9b6);
}


.fadeImage {

            animation: fadein 1s;
    display: block;
}

@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

@font-face {
    font-family: 'MuseoSans';
    src: url('../fonts/museo-sans-500.eot'), url('../fonts/museo-sans-500.ttf') format('truetype'), url('../fonts/museo-sans-500.svg') format('svg');
    font-weight: normal;
    font-style: normal;
}